@import "./_mixin.style.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

//Body  styling
$font-family: 'Open Sans', sans-serif;
$font-color: #000;
$line-height: 1.2;
$font-weight: 400;
$font-size:14px;
$link-color: blue;
$link-active-color: blue;

$body-bg-img: transparent;
$body-bg-color:transparent;
//Header Styling
//Body Styling
//Footer Styling


