@import "./_mixin.style.scss";
@import "./_variables.styles.scss";

*:after {
    clear: both;
    content: "";
    display: block;
}
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
} 
body {
  background-image: url($body-bg-img);
  background-color: $body-bg-color;
  font-family: $font-family;
  color: $font-color;
  font-size:$font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.page-center {
    float: none;
    max-width: 970px;
    margin: 0 auto;
    padding:0 ;
}
img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
a { 
  text-decoration: none;
	display: inline-block;
	color: $link-color; }
a:hover, a:focus { color: $link-active-color; }
p {
	margin:0;
} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

h1, h2, h3, h4, h5, h6 {}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {}
h2 {}
h3 {}
h3.section-heading {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #373739;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}
h3.section-heading:before {
  top: 50%;
  content: '';
  height: 1px;
  background: rgba(55, 55, 57, 0.3);
  width: 100%;
  display: inline-block;
  position: absolute;
  left: -100%;
}
h4 {}
h5 {}
h6 {}

/* Lists */
ul, ol {
	margin:0;
	padding:0;
}
ul ul, ul ol, ol ol, ol ul {}
li {}


ul.unstyled, ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*********** Selection Styling *****************/
::-moz-selection {
  color: #fff;
  background: #000;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #000;
  text-shadow: none;
}


//Default Form Styling
/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
  color: #3d3d3d;
  opacity: 1; 
}
:-moz-placeholder { /* Firefox 18- */
  color: #3d3d3d;
  opacity: 1; 
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3d3d3d;
  opacity: 1;
}
:-ms-input-placeholder { /* IE10 */
  color: #3d3d3d;
  opacity: 1; 
}
/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {  
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 0.5px #dbdbdb;
  line-height: 1.2;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.1px;  
  font-size: 14px;
  font-family: Open Sans;
}


body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {

}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Separate Styles for Multiple Line Inputs */
body textarea {
    min-height: 60px;
    width: 100% !important;
}

body input[type="radio"] {
  margin-right: 4px;
  margin-top: 4px;
}
body input[type="checkbox"] {
  margin-right: 4px;
  margin-top: 4px;
}
/* All Global Buttons ===================== */
body .btn,
body input[type="submit"],
body input[type="button"],
.btn{
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
    outline: none;
    vertical-align: middle;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    box-shadow: none;
    border: 0;
    padding: 9px 30px;
    border-radius: 3px;
}
.btn-primary {
  color: #ffffff;
  background-color: #ee365a;
}
.btn-primary:hover,.btn-primary:focus{
  background-color: #eb244c;
}
body input[type="submit"],
body input[type="button"] {
}

body .primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {
}
  

//Header Styling
.custom-header{   
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px;  
  .page-center {
    max-width: 100%;
    padding: 0 20px;
  }
  .cs-logo-wrap {
    float: left;
    width: 31%;
    text-align: center;
  }
  .cs-menu-wrap {
    width: 69%;
    float: left;
    text-align: right;  
    padding: 0px 15px;  
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        a {
          padding: 10px 20px;
          border-radius: 20px;
          color: #fff;
          font-size: 13px;
          text-transform: uppercase;
          &:hover,&.active{            
            background: #ee365a;
          }
        }
      }
    }
  }
  .cs-logo {
    display: inline-block;
    background-image: url(../image/bitmap@2x.png);
    height: 40px;
    width: 110px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
}
.fixed-header .custom-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}
.cs-inner-header-wrapper{}
//banner 
.cs-banner-article-box {
  display: inline-block;
  background: #fff;
  height: 180px;
  width: calc(49% - 20px);
  padding: 15px;
  margin: 0 10px;
  overflow: hidden;
  
  .cs-banner-article-box-img {
    width: 80px;
    max-height: 80px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
  }
  .cs-banner-article-text {
    width: calc(100% - 86px);
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
  }
  .cs-banner-article-text h5 {
      font-size: 14px;
      padding: 4px 10px 10px 0;
  }
}
.cs-article-box-wrapper {
  vertical-align: middle;    
  position: absolute;
  z-index: -1;
  .cs-banner-article-box{
    transform: translateX(3000px);    
  }
  &.active{
    position: relative;
    z-index: 1;
    .cs-banner-article-box{   
      &.box-one{            
        right: 0;
        transform: translateX(0);
        transition: all 2s ease;
      }
      &.box-two{            
        transform: translateX(0);
        transition: all 3s ease;
      }      
    }    
  }
}

.cs-banner-article-box-btm{
  padding-top: 10px;
   p {
    color: #888080;
    padding-top: 4px;
    font-size: 12px;
  }
}
.cs-banner-art-box-btm-heading{
  img {
    max-width: 26px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  h6 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 11px;
    text-transform: uppercase;
  }
}
.cs-banner-article-text-left {
  max-width: calc(100% - 70px);
  display: inline-block;
  width: 100%;  
  a {
    display: inline-block;
    vertical-align: middle;
    border-radius: 55px;
    background-color: #1accb0;
    border: solid 0.6px #1accb0;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  img {
    max-width: 30px;
    border-radius: 50%;   
    margin-left: -11px; 
    vertical-align: middle;
  }
}
.cs-banner-article-text-right {
  display: inline-block;
  max-width: 65px;
  text-align: right;
  width: 100%;
  a{
    display: inline-block;
    color: #888080;
    cursor: pointer;
    font-size: 11px;
  }
}
.cs-banner-right-bottom-wrap {
  text-align: center;
  padding: 20px;
  height: 50vh;
  position: relative;
}
.cs-banner-right-bg-img-box{
  display: none;
}
.cs-banner-mobile-box {
  background: url(../image/phone.png);
  height: 95%;
  position: absolute;
  width: 35%;
  min-width: 424px;
  max-height: 383px;
  bottom: -100%;
  right: 50%;
  border-bottom-width: 0;
  transform: translateX(50%);
  overflow: hidden;
  padding: 3%;
  background-position: top center;
  background-size: 100%;
  display: inline-block;
  -webkit-transition-property: bottom; /* Safari */
  -webkit-transition-duration: 0s; /* Safari */
  -webkit-transition-delay: 0s; /* Safari */
  transition-property: bottom;
  transition-duration: 0s;
  transition-delay: 0s;
  &.active{
    bottom: 0;
    -webkit-transition-property: bottom; /* Safari */
    -webkit-transition-duration: 600ms; /* Safari */
    -webkit-transition-delay: 200ms; /* Safari */
    transition-property: bottom;
    transition-duration: 600ms;
    transition-delay: 200ms;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  p{
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
  }
  a {
    font-family: open sans;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 4px;
    float: right;
  }
}
.cs-banner-right-top-wrap {
  width: 100%;
  padding: 70px 50px 0;
  height: 50vh;
  display: table;
}
.cs-banner{
  min-height: 100vh;
  display: table;
  width: 100%;
  overflow: hidden;
  .cs-banner-left-wrap{
    width: 35%;
    background-color: #373739;
    color: #fff;
    min-height: 100vh;
    float: left;
    position: relative;
    display: inline-block;
    .cs-banner-nav {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      padding: 10px 10px 20px;
       a {
        font-size: 0;
        display: inline-block;
        width: 30px;
        margin: 0 15px;
     }
     .slide-bottom {
      background: url(../image/group-11.png);
      display: inline-block;
      width: 45px;
      height: 45px;
      position: absolute;
      right: -38px;
      bottom: 30px;
      z-index: 1;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      background-repeat: no-repeat;
   }
    }
    .cs-banner-left-content-wrap{
      display: table;
      height: 100vh;
      width: 100%;
      position: relative;      
      &:after {
        content: '';
        display: inline-block;
        border: 15px solid;
        border-color: transparent transparent transparent #373739;
        position: absolute;
        right: -30px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
      }
    }
    .cs-banner-left-content {
      font-family: Open Sans;
      font-size: 32px;
      display: table-cell;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #c2c2c2;
      vertical-align: middle;
      position: relative;
      span.border-line {
        display: inline-block;
        height: 2px;
        width: 20px;
        background: #c2c2c2;
      }
      .cs-text-box{
        position: relative;
        max-width: 300px;
        width: 100%;
        display: inline-block;
        margin: 0;
        list-style: none;
        li{
          display: none;
          &.active{
            display: block;
          }
        }
        &:before,&:after {
          content: '';
          display: inline-block;
          width: 50px;
          height: 2px;
          background: #ada9a9;
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%)
        }
        &:after {
          top: calc(100% + 30px);
        }
      }
      .bold-text {
        font-weight: bold;
        display: inline-block;
        color: #fff;
        &::before{
          display: none;
        }
      }
    }
  }
  .cs-banner-right-wrap{
    width: 65%;
    min-height: 100vh;
    // background-image: url(../image/slider2.png);
    display: inline-block;
    background-size: cover;
    float: left;
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      background: rgba(0, 0, 0, 0.26);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }
}
//Body 
.custom-body-conatiner-wrapper{
  background: #f0f7ff;
  .cs-body-top-section{
    height: 100vh;
    overflow: hidden;
    display: table;
    width: 100%;
    .cs-top-section-inner-wrap {
      padding-top: 50px;
      display: table;
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      max-width: 970px;
      position: relative;
      z-index: 1;
    }
    p {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #373739;
      margin-bottom: 20px;
      a{
        color: #373739;
        font-weight: bold;
        b {
          display: inline-block;
         }
      }
    }
    &.bottom-pane {
      // margin-bottom: -210px;
      position: relative;
      &:before {
        content: '';
        background: #4b4b4d;
        display: inline-block;
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }
}
.cs-help-item-box-wrap{
  .cs-help-item-box {
    width: 50%;
    float: left;    
    text-align: center;
    margin: 40px 0;
  }
  .cs-help-box-img {
    max-height: 150px;
    text-align: center;
    display: inline-block;
    img{
      max-width: 120px;
    }
  }
  .cs-help-box-cont {
    p {
      font-family: Open Sans;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #4b4b4d;
      margin: 15px 0;
      max-width: 250px;
      display: inline-block;
    }
  }
  
}

//Footer
.custom-footer{
  color: #fff;
  background-color: #4b4b4d;
  height: 100vh;
  display: table;
  width: 100%;
  .cs-footer-top-left {
    float: left;
    font-size: 17px;
    width: 40%;
    color: #d2cccc;
  }
  .cs-footer-top-right {
    float: left;
    width: 60%;
    vertical-align: middle;
    padding-top: 16px;
  }
  h3.section-heading.cs-about-us{
    color: #d2cccc;
  }
  h3.section-heading.cs-about-us::before{
    background: #d2cccc;
  }
  .cs-footer-top-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    p {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.53;
      letter-spacing: normal;
      text-align: left;
      color: #d2cccc;
    }
  }
  
}
.cs-footer-bottom-wrap {
  background-color: #3e3e3e;
  color: #fff;
  font-family: open sans;
}
.cs-footer-btm-left ul {
  margin: 0;
  padding: 0;
   li {
    display: inline-block;
    padding: 10px;
    a{
      font-family: Open Sans;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.92;
      letter-spacing: 0.3px;
      text-align: left;
      color: #ffffff;
    }
  }
}
.cs-footer-btm-left {
  width: 50%;
  float: left;
}
.cs-footer-btm-right {
  width: 50%;
  float: left;
  text-align: right;
  p{
    font-family: Open Sans;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.92;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
    padding: 12px 12px 8px;
  }
}
.cs-footer-top-form-wrap {
  float: left;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #737373;
  padding: 23px 0 23px;
  .cs-form-heading,
  .cs-form-text-box{
    display: inline-block;
    float: left;
  }
  .cs-form-heading{
    width: 30%;
    vertical-align: middle;
    padding-top: 6px;
  }
  .cs-form-inner-wrap {
    float: left;
    width: 70%;
  }
  .cs-form-text-box{    
    width: 33%;
    padding: 0 5px;
    span{
      color:blue;
      &.error{
        color:red;
      }
    }
  }
}
.cs-form-heading h4 {
  font-weight: 400;
  font-size: 20px;
}
.cs-footer-top-right {
  padding: 0px 50px 0px;
  .cs-quote {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.54;
    max-width: 350px;
  }
  .cs-author {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.04;
  }
}

@media (max-width: 767px){
  .page-center{
    padding: 0 20px;
  }
  .custom-header{
    padding: 10px 0;
  }

  .custom-header .cs-logo-wrap{
    width: 25%;
  }

  .cs-banner .cs-banner-left-wrap .cs-banner-nav .slide-bottom{
    display: none;
  }
  .cs-banner-right-top-wrap{
    padding: 15px 20px 0;
    height: auto;
    display: block;
  }
  .cs-banner-article-box {
    width: 90%;
    padding: 8px;
    margin: 0 5%;
    height: auto;
  }
  .cs-banner-article-box .cs-banner-article-box-img {
    width: 60px;
    max-height: 60px;
  }
  .cs-banner-article-box .cs-banner-article-text h5 {
    font-size: 12px;
    padding: 4px 0 5px 0;
  }
  .cs-banner-article-text-left a{
    padding: 4px 6px;
    font-size: 9px;
    margin-bottom: 5px;
    clear: both;
    min-width: 60px;
    display: block;
  }
  .cs-banner-article-text-left img {
    max-width: 20px;
    margin-left: -5px;
  }
  .cs-banner-art-box-btm-heading img {
    width: 18px;
    height: 18px;
  }
  .cs-banner-art-box-btm-heading h6{
    font-size: 10px;
  }
  .cs-banner-mobile-box{
    width: 70%;
    height: 202px;
    min-width: 20px;
    background-repeat: no-repeat;
  }
  .cs-banner-article-box-btm {
    padding-top: 2px;
  }
  .cs-banner-article-box-btm p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 97%;
  }
  .cs-article-box-wrapper.active .cs-banner-article-box.box-two{
    display: none;
  }

  .cs-banner-mobile-box p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .cs-banner-mobile-box a{
    padding: 5px 10px;
    font-size: 12px;
  }

  /*.cs-banner .slide-bottom{
    background: url(../image/group-11.png);
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0px;
    left: 0;
    bottom: -23px;
    margin: auto;
    z-index: 1;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
  }*/

  .custom-header .cs-logo{
    width: 70px;
  }
  .custom-header .cs-menu-wrap{
    padding: 0;
    width: 75%;
  }

  .cs-banner-right-bottom-wrap {
    text-align: center;
    padding: 44px 20px 0;
    height: 62%;
    position: relative;
    display: block;
    bottom: 2px;
  }

  .custom-header .cs-menu-wrap ul li{
    margin-top: 7px;
  }
  .custom-header .cs-menu-wrap ul li a {
    padding: 6px 10px;
    font-size: 11px;
  }
  .cs-banner{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .cs-text-box li .cs-single-line:after{
    display: inline-block;
  }
  .cs-text-box li .cs-single-line{
    display: block;
  }
  .cs-banner .cs-banner-left-wrap,
  .cs-banner .cs-banner-right-wrap{
    flex:1;
  }
  .cs-banner .cs-banner-right-wrap{
    flex:1.5;
  }
  .cs-banner .cs-banner-left-wrap .cs-banner-left-content{
    font-size: 20px;
  }
  .cs-banner .cs-banner-left-wrap .cs-banner-left-content .cs-text-box:before,
  .cs-banner .cs-banner-left-wrap .cs-banner-left-content .cs-text-box:after{
    content: none;
  }
  .cs-banner .cs-banner-left-wrap .cs-banner-left-content-wrap{
    height: auto;
  }
  .cs-banner .cs-banner-left-wrap{
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cs-banner .cs-banner-right-wrap {
    width: 100%;
    min-height: 20px;
  }
  .cs-help-item-box-wrap .cs-help-item-box{
    width: 100%;
    margin: 20px 0;
  }
  h3.section-heading{
    padding: 0;
    font-size: 24px;
    margin-bottom: 15px;
  }
  h3.section-heading:before{
    left:-101%;
  }
  .cs-help-item-box-wrap .cs-help-box-cont p{
    font-weight: 600;
  }
  .custom-body-conatiner-wrapper .cs-body-top-section{
    height: auto;
  }
  .custom-body-conatiner-wrapper .cs-body-top-section.bottom-pane:before{
    height: 32%;
  }
  .custom-body-conatiner-wrapper .cs-body-top-section .cs-top-section-inner-wrap{
    padding: 90px 0 30px;
  }
  .custom-body-conatiner-wrapper .cs-body-top-section.bottom-pane .cs-top-section-inner-wrap{
    padding-top:0;
  }
  /*.custom-body-conatiner-wrapper .cs-body-top-section p{
    text-align: center;
  }*/
  .custom-footer{
    height: auto;
    background: #4b4b4d;
    float: left;
    width: 100%;
    margin-top: -1px;
  }
  .custom-footer .cs-footer-top-wrap{
    padding: 90px 0 30px;
  }
  .custom-footer .cs-footer-top-left,
  .custom-footer .cs-footer-top-right{
    width: 100%;
  }
  .cs-footer-top-right{
    padding: 0px;
  }
  .custom-footer h3.section-heading.cs-about-us{
    color:#fff;
  }
  .custom-footer h3.section-heading.cs-about-us::before{
    background: #fff;
  }
  .custom-footer .cs-footer-top-left p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #d2cccc;
    margin-bottom: 20px;
  }
  .cs-footer-top-right .cs-quote{
    max-width: 100%;
  }
  .cs-footer-top-form-wrap .cs-form-heading {
    width: 100%;
    margin-bottom: 30px;
  }
  .cs-footer-top-form-wrap .cs-form-inner-wrap {
    width: 100%;
  }
  .cs-footer-top-right .cs-quote{
    font-size: 16px;
  }
  .cs-footer-top-form-wrap .cs-form-text-box {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .cs-footer-top-form-wrap .cs-form-text-box:last-child{
    margin-bottom: 0;
  }
  .cs-form-heading h4 {
    font-weight: 100;
    font-size: 18px;
  }
  .cs-footer-btm-left ul li {
    display: inline-block;
    padding: 13px 5px;
  }
  body input[type="text"],
  body input[type="password"],
  body input[type="datetime"],
  body input[type="datetime-local"],
  body input[type="date"],
  body input[type="month"],
  body input[type="time"],
  body input[type="week"],
  body input[type="number"],
  body input[type="email"],
  body input[type="url"],
  body input[type="search"],
  body input[type="tel"],
  body input[type="color"],
  body input[type="file"],
  body textarea,
  body select{
    padding: 2px 5px;
    font-size: 13px;
  }
}